@{
    ViewBag.Title = "Personal Bio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Derek Gibson. I am from Cincinnati, Ohio, and I am a senior at Ohio University. Currently looking to complete double majoring in MIS and Management and Strategic Leadership.</p>
