@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    125 Lexington Dr<br />
    Loveland, OH 45140<br />
    <abbr title="Phone">P:</abbr>
    513.444.9382<br />
    dg297015@ohio.edu
</address>

<address>
    
</address>