@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">One of the final two MIS-related classes!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Personal Bio - Just a little more in-depth information about myself.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Page for my contact information.
           <br />@Html.ActionLink("Doctor", "index", "Doctors")<br />
           <br />@Html.ActionLink("Appointment", "index", "Appointments")<br />
           <br />@Html.ActionLink("AppointmentDetail", "index", "AppointmentDetails")<br />
           <br />@Html.ActionLink("Patient", "index", "Patients")<br />
        </p>

    </div>
    <div class="col-md-4">
        <h2>Post Graduation Plans</h2>
        <p>I plan on getting a project management certificate, as well as my masters.</p>

    </div>

</div>